pip==20.1
setuptools==46.3.1
pytest==5.4.2
selenium==3.141.0
webdriver-manager==2.5.0
allure-pytest==2.8.13
assertpy==1.0
pytest-xdist==1.32.0
robotframework==3.2.1
robotframework-requests==0.7.0
robotframework-seleniumlibrary==4.4.0